* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bottom-navbar {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background: #fff;
    border-radius: 30px 30px 0px 0px;
    padding: 10px 8px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.05);

    .con-effect {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;

        .effect {
            background: rgba(232, 76, 79, .15);
            width: 60px;
            height: 50px;
            position: absolute;
            left: 13px;
            border-radius: 18px;
        }
    }

    button {
        width: 60px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: transparent;
        border-radius: 20px;
        transition: all .25s ease;

        .active {
            color: rgb(232,76, 79);
        }

        i {
            font-size: 1.5rem;
            pointer-events: none;
        }
    }

    button:active:not(.float) {
        transform: scale(1.2);
    }

    .float {
        margin-top: -50px;
        color: #fff;
        background: rgb(232,76, 79);
        height: 60px;
        border-radius: 25px;
        box-shadow: 0px 10px 20px 0px rgba(232, 76, 79, .4);
    }
}

.container {
    position: fixed;
    top: calc(var(--vh, 1vh) * 100);
    width: 100%;
    height: calc(var(--vh, 1vh) * 50);
    background: #fff;
    border-radius: 30px 30px 0px 0px;
    padding-top: 40px;
    box-sizing: border-box;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,.05);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &::before {
        content: "";
        left: 0px;
        bottom: -150px;
        width: 100%;
        height: 150px;
        background: #fff;
        position: absolute;
    }

    &::after {
        content: '';
        left: 50%;
        top: -14px;
        width: 45px;
        height: 4px;
        background: rgba(0,0,0,.2);
        position: absolute;
        transform: translate(-50%);
        border-radius: 20px;
    }
}