* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.bottom-navbar {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  background: #fff;
  border-radius: 30px 30px 0px 0px;
  padding: 10px 8px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

.bottom-navbar .con-effect {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-navbar .con-effect .effect {
  background: rgba(232, 76, 79, 0.15);
  width: 60px;
  height: 50px;
  position: absolute;
  left: 16px;
  border-radius: 18px;
}

.bottom-navbar a {
  text-decoration: none;
  width: 60px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background: transparent;
  border-radius: 20px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.bottom-navbar a.active {
  color: #e84c4f;
}

.bottom-navbar a i {
  font-size: 1.5rem;
  pointer-events: none;
}

.bottom-navbar a:active:not(.float) {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.bottom-navbar .float {
  margin-top: -50px;
  color: #fff;
  background: #e84c4f;
  height: 60px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(232, 76, 79, 0.4);
          box-shadow: 0px 10px 20px 0px rgba(232, 76, 79, 0.4);
}

.container {
  position: fixed;
  top: calc(var(--vh, 1vh) * 100);
  width: 100%;
  height: calc(var(--vh, 1vh) * 50);
  background: #fff;
  border-radius: 30px 30px 0px 0px;
  padding-top: 40px;
  padding-bottom: 170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 0;
}

.container img {
  width: 75%;
}

@media screen and (min-width: 600px) {
  .container img {
    width: auto;
    height: 230px;
  }
}

.container button {
  padding: 12px 20px;
  background: #e84c4f;
  color: #fff;
  border: none;
  margin-top: 20px;
  border-radius: 17px;
}

.container p {
  width: 70%;
  font-size: 0.8rem;
  text-align: center;
  font-weight: 500;
  opacity: 0.7;
}

.container::after {
  content: "";
  left: 50%;
  top: -14px;
  width: 45px;
  height: 4px;
  background: rgba(32, 32, 32, 0.2);
  position: absolute;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 20px;
  z-index: 111;
}
/*# sourceMappingURL=style.css.map */